body {
    height: 100%;
    background: blue url(../images/aboutUs/bg.jpg);
}
html {
    font-size: 14px;
    height: 100%;
}
.table,
.table th,
.table caption {
    text-align: center;
}

.test-autoper {
    display: flex;
    display: -moz-box;
}