<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="yujinjiang">
    <meta name="keywords" content="毕业设计， 毕设，webpack项目，前端项目">
    <meta name="description" content="webpack构建的前端项目,使用Vue框架，scss等">
    <title>Document</title>
</head>
<body>
<!--以下是siteNav部分代码-->
<div id="siteNav">
    siteNav部分
    <h1>siteNav部分 头部使用登录h1 - h5标签</h1>
</div>
<div id="header" style="background: #ccc">
    页头部分
    <p>
        页头部分常用p作为段落标签
    </p>
</div>
<div id="content" style="background: #fff">
    内容部分常用ul 作为标签
    <ul>
        <li>内容部分1</li>
        <li>内容部分2</li>
        <li>内容部分3</li>
    </ul>
</div>
<div id="footer" style="background: #ccc">
    页脚部分
    <table width="300px" border="1" bgcolor="#d7d7d7" cellpadding="0" cellspacing="0" class="table">
        <caption>极速退款</caption>
        <tr>
            <th>会员级别</th>
            <th>信用额度</th>
        </tr>
        <tr>
            <td>金卡会员</td>
            <td>200</td>
        </tr>
        <tr>
            <td>钻石会员</td>
            <td>500</td>
        </tr>
    </table>
</div>
</body>
</html>