<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="yujinjiang">
    <meta name="keywords" content="毕业设计， 毕设，webpack项目，前端项目">
    <meta name="description" content="webpack构建的前端项目,使用Vue框架，scss等">
    <title>Document</title>
</head>
<body>
<!--以下是siteNav部分代码-->
<div id="siteNav">
    siteNav 部分
</div>
<div id="header" style="background: #ccc">
    页头部分
</div>
<div id="content" style="background: #fff">

</div>
<div id="footer" style="background: #ccc">
    页脚部分
</div>
</body>
</html>