<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<fieldset>
    <legend>用户登录表单</legend>
    用户名：<input type="text" id="userName" placeholder="请输入用户名">
    密码：<input type="password" id="userPassword">
    您对目前当当网首页的整体满意度如何？ <br>
    <input type="radio" name="contentment" value="满意">满意<br>
    <input type="radio" name="contentment" value="不满意">不满意<br>
    <input type="radio" name="contentment" value="一般">一般<br>
    您访问的页面速度的情况？ <br>
    <input type="radio" name="speed" value="很快">很快<br>
    <input type="radio" name="speed" value="一般">一般<br>
    <input type="radio" name="speed" value="较慢">较慢<br>
    您从哪里知道MobileShop? <br>
    <input type="checkbox" value="">朋友推荐 <br>
    <input type="checkbox" value="">线下传单 <br>
    <input type="checkout" value="">线下广告 <br>
    <textarea name="suggest"  id="" cols="30" rows="10"></textarea>
    <button type="submit">提交</button>
</fieldset>
<a href="guide.html">新手指导</a>
</body>
</html>