<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <table width="300px" border="1" class="table" bgcolor="#d7d7d7">
        <caption>极速345678退款</caption>
        <tr>
            <th>会员级别</th>
            <th>信用额度</th>
        </tr>
        <tr>
            <td>金卡会员</td>
            <td>200</td>
        </tr>
        <tr>
            <td>钻石会员</td>
            <td>500</td>
        </tr>
    </table>
</div>
</body>
</html>